---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import ShortenerContextWrapper from '../components/ContextWrapper';

import { supabaseClient } from '../lib/client';

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return Astro.redirect("/login");
}

const isLoggedIn = typeof accessToken !== 'undefined' && typeof refreshToken !== 'undefined';

let session;

try {
  session = await supabaseClient.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (session.error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });

    return Astro.redirect("/login");
  }
} catch (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return Astro.redirect("/login");
}

const email = session.data.user?.email;
---

<Layout title={`Shortly - ${email}'s Dashboard`}>
	<Header client:load links={[
		{ label: 'Features', url: 'features' }, 
		{ label: 'Pricing', url: 'pricing' }, 
		{ label: 'Resources', url: 'resources' }
	]} isLoggedIn={isLoggedIn}} />
	<main class="lg:px-[7.375rem] xl:px-[10.375rem] px-6 py-12 lg:mt-6">
		<h1 class="text-left text-lg">Welcome back <span class="font-bold">{ email }</span></h1>
		<ShortenerContextWrapper client:only="react" />
	</main>
	<Footer directory={[
		{ 
			section: 'Features',
			links: [
				{ label: 'Link Shortening', url: 'shorten' },
				{ label: 'Branded Links', url: 'branded' },
				{ label: 'Analytics', url: 'analytics' }
			]
		},
		{
			section: 'Resources',
			links: [
				{ label: 'Blog', url: 'blog' },
				{ label: 'Developers', url: 'developers' },
				{ label: 'Support', url: 'support' }
			]
		},
		{
			section: 'Company',
			links: [
				{ label: 'About', url: 'about' },
				{ label: 'Our Team', url: 'team' },
				{ label: 'Careers', url: 'careers' },
				{ label: 'Contact', url: 'contact' }
			]
		}
	]} />
</Layout>