---
import { Image } from 'astro:assets';
import { Link } from 'react-aria-components';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import ShortenerWidget from '../components/Shortener';
import CardContainer from '../components/CardContainer.astro';
import { supabaseClient } from '../lib/client';

import workerIllustration from '../assets/illustration-working.svg';

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

const isLoggedIn = typeof accessToken !== 'undefined' && typeof refreshToken !== 'undefined';

if (isLoggedIn) {
	let session;

	try {
  		session = await supabaseClient.auth.setSession({
    		refresh_token: refreshToken.value,
    		access_token: accessToken.value,
  		});

  		if (session.error) {
    		Astro.cookies.delete("sb-access-token", {
      			path: "/",
    		});
    		Astro.cookies.delete("sb-refresh-token", {
      			path: "/",
    		});

    		return Astro.redirect("/login");
  		}
	} catch (error) {
  		Astro.cookies.delete("sb-access-token", {
    		path: "/",
  		});
  		Astro.cookies.delete("sb-refresh-token", {
    		path: "/",
  		});

  		return Astro.redirect("/login");
	}
}
---

<Layout title="Shortly - Landing">
	<Header client:load links={[
		{ label: 'Features', url: 'features' }, 
		{ label: 'Pricing', url: 'pricing' }, 
		{ label: 'Resources', url: 'resources' }
	]} isLoggedIn={isLoggedIn} />
	<main class="lg:px-[7.375rem] xl:px-[10.375rem] lg:mt-6 px-6">
		<section class="flex lg:flex-row-reverse flex-col items-center lg:text-left text-center">
			<Image class="lg:w-[50%] lg:m-0 m-[4.188rem]" src={workerIllustration} alt="worker illustration on landing page" loading="eager" />
			<div class="lg:w-[50%] lg:mr-16 flex flex-col lg:justify-start lg:items-start items-center">
				<h1 class="mt-[1.25rem] xl:text-[5rem] lg:text-[3.5rem] text-[2.625rem] xl:leading-[5.625rem] lg:leading-[4rem] leading-[3rem] tracking-[-0.066em] font-bold text-very-dark-blue">More than just shorter links</h1>
  				<p class="mt-[0.938rem] lg:px-2 text-xl leading-[1.875rem] tracking-[0.008em] text-grayish-violet font-medium">Build your brand’s recognition and get detailed insights on how your links are performing.</p>
  				<Link href="login" className="mt-8 py-3 px-8 rounded-full bg-cyan hover:bg-light-cyan text-white font-bold text-[1.25rem]">Get Started</Link>
			</div>
		</section>
		<section class="mt-[5.5rem]">
			<ShortenerWidget isLoggedIn={isLoggedIn} client:only="react" />
		</section>
		<section class="mt-20 text-center">
			<div>
				<h2 class="leading-[3rem] xl:tracking-[-0.063em] tracking-[-0.044em] font-bold xl:text-[2.5rem] text-[1.75rem] text-very-dark-blue">Advanced Statistics</h2>
  				<p class="mt-4 xl:px-72 font-medium xl:tracking-[0.008em] xl:leading-8 leading-7 xl:text-[1.125rem] text-base text-grayish-violet">Track how your links are performing across the web with our advanced statistics dashboard.</p>
			</div>
			<CardContainer cards={[
				{
					title: 'Brand Recognition',
					icon: 'brand-recognition',
					alt: 'Icon represents Brand Recognition',
					description: 'Boost your brand recognition with each click. Generic links don\’t mean a thing. Branded links help instil confidence in your content.'
				},
				{
					title: 'Detailed Records',
					icon: 'detailed-records',
					alt: 'Icon represents gaining insights',
					description: 'Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.'
				},
				{
					title: 'Fully Customizable',
					icon: 'fully-customizable',
					alt: 'Icon represents being fully customizable',
					description: 'Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.'
				}
			]} />
		</section>
	</main>
	<Footer showAdSection directory={[
		{ 
			section: 'Features',
			links: [
				{ label: 'Link Shortening', url: 'shorten' },
				{ label: 'Branded Links', url: 'branded' },
				{ label: 'Analytics', url: 'analytics' }
			]
		},
		{
			section: 'Resources',
			links: [
				{ label: 'Blog', url: 'blog' },
				{ label: 'Developers', url: 'developers' },
				{ label: 'Support', url: 'support' }
			]
		},
		{
			section: 'Company',
			links: [
				{ label: 'About', url: 'about' },
				{ label: 'Our Team', url: 'team' },
				{ label: 'Careers', url: 'careers' },
				{ label: 'Contact', url: 'contact' }
			]
		}
	]} />
</Layout>
