---
import { Image, getImage } from 'astro:assets';

import logo from '../assets/logo.svg';
import bgBoost from '../assets/bg-boost-mobile.svg';

interface Link {
  label: string,
  url: string
}

interface DirectoryListing {
  section: string,
  links: Array<Link>
}

const { directory } = Astro.props;
const baseURL = import.meta.env.BASE_URL;

const boostBgImg = await getImage({ src: bgBoost, format: 'webp' });
---
<footer class="mt-6 flex flex-col justify-start w-full">
  <div class="flex flex-col justify-center items-center bg-dark-violet text-center min-h-[18.75rem] bg-no-repeat bg-auto bg-top" style={`background-image: url(${boostBgImg.src})`}>
    <h2 class="leading-[3rem] tracking-[-0.044em] font-bold text-[1.75rem] text-white">Boost your links today</h2>
    <button class="mt-4 bg-cyan text-white rounded-full py-3 px-8 font-bold text-[1.25rem]">Get Started</button>
  </div>
  <div>
    <Image src={logo} alt="main site logo in footer" />
    {
      directory.map((listing: DirectoryListing) => {

      })
    }
  </div>
</footer>
<style>
  
</style>
