---
import { Image } from 'astro:assets';

import logo from '../assets/logo.svg';
import Navbar from './Navbar.tsx';

const { links } = Astro.props;
const baseURL = import.meta.env.BASE_URL;

---
<header class="mt-12 px-6 flex flex-row justify-between items-center">
  <a href={baseURL}><Image class="header__logo" src={logo} alt="shortly - url shortener" loading="eager" /></a>

  <Navbar links={links} />
</header>
<style>
  
</style>
