---
import { Image } from 'astro:assets';

import logo from '../assets/logo.svg';
import Navbar from './Navbar.tsx';

const { links } = Astro.props;
const baseURL = import.meta.env.BASE_URL;

---
<header class="mt-6 mx-6 flex justify-start">
  <a href={baseURL}><Image class="header__logo" src={logo} alt="shortly - url shortener" loading="eager" /></a>

  <Navbar links={links} />
</header>
<style>
  
</style>
