---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header';
import Footer from '../../components/Footer.astro';

import { supabaseClient } from '../../lib/client';
import { AnalyticsContextWrapper } from '../../components/ContextWrapper';

const { id } = Astro.params;

if (!id || isNaN(parseInt(id))) {
	return Astro.redirect('/dashboard');
}

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

const isLoggedIn = typeof accessToken !== 'undefined' && typeof refreshToken !== 'undefined';

if (!isLoggedIn) {
  return Astro.redirect("/login");
}

let session;

try {
  session = await supabaseClient.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (session.error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });

    return Astro.redirect("/login");
  }
} catch (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return Astro.redirect("/login");
}

---

<Layout title={`Shortly - Viewing link analytics for (id: ${id})`}>
	<Header client:load links={[
		{ label: 'Features', url: 'features' }, 
		{ label: 'Pricing', url: 'pricing' }, 
		{ label: 'Resources', url: 'resources' }
	]} isLoggedIn={isLoggedIn}} />
	<main class="lg:px-[7.375rem] xl:px-[10.375rem] px-6 py-12 lg:mt-6">
		<AnalyticsContextWrapper id={id} client:load />
	</main>
	<Footer directory={[
		{ 
			section: 'Features',
			links: [
				{ label: 'Link Shortening', url: 'shorten' },
				{ label: 'Branded Links', url: 'branded' },
				{ label: 'Analytics', url: 'analytics' }
			]
		},
		{
			section: 'Resources',
			links: [
				{ label: 'Blog', url: 'blog' },
				{ label: 'Developers', url: 'developers' },
				{ label: 'Support', url: 'support' }
			]
		},
		{
			section: 'Company',
			links: [
				{ label: 'About', url: 'about' },
				{ label: 'Our Team', url: 'team' },
				{ label: 'Careers', url: 'careers' },
				{ label: 'Contact', url: 'contact' }
			]
		}
	]} />
</Layout>